<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire de Connexion</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signup">
          <form action="#" class="sign-in-form">
            <h2 class="title">Inscription</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" />
            </div>
            <input type="submit" value="Valider" class="btn solid" />
           
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
			<img src="../../../assets/images/logo.png" alt="Logo Rifl Biometrics">
            <h3>Parmis nous ?</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
              ex ratione. Aliquid!
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Se connecter
            </button>
          </div>
          <img src="../../../assets/images/register.png" class="image" alt="Registration" />
        </div>
        <!-- <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="../../../assets/images/register.jpg" class="image" alt="Registration" />
        </div> -->
      </div>
    </div>

  </body>
</html>
